   <% cart.each do |cp| %>
      <li> Item: <%= cp.product.product_name %>    |       Price: $<%= cp.product.sold_at %>  |  Quantity: <%= cp.quantity %><br><br> </li>
         <ul>
      <li>
         <%= button_to 'Add One', product_cart_pg_add_product_path(cp.product), menthod: :post, class: "btn btn-primary" %><br>
      </li>
      <li>
         <%= button_to 'Delete One', product_delete_cart_product_path(cp.product), menthod: :post, class: "btn btn-primary" %></p><br>
      </li>
    </ul>
   <% end %>
   Sub-Total: 
