<%= form_with(model: @user, url: profile_edit_path) do |f| %> 
      <%= f.label :name %>
      <%= f.text_field :name %><br>

      <%= f.label :business_name %>
      <%= f.text_field :business_name %><br>

      <%= f.label :username %>
      <%= f.text_field :username %><br>
  
      <%= f.label :email  %>
      <%= f.email_field :email %><br>
  
      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <br/>
      <%= f.submit "Update Profile" %>
  </div>
  
<% end %>
 