<h1><%= current_user.name %>'s Profile</h1>
<div>
    <p>Business: <%= current_user.business_name %></p>
    <p>Username: <%= current_user.username %></p><br>
    <p>Email:  <%= current_user.email %></p>
</div>

<%= link_to 'Edit Profile', profile_edit_path(current_user) %>
