<h1><%= @product.product_name %></h1>
<div>
   <%= image_tag(@product.image) %>
    <p>About the product: <%= @product.product_description %></p><br>
    <p>Price: $ <%= @product.sold_at %></p>
    Quantity Available: <%= @product.instock %>
</div>

<%= link_to 'Back', products_path(@products) %>
<%= button_to 'Edit Product', edit_product_path(@product) %>
<%= button_to 'Delete Product', destroy_product_path(@product), method: :delete %>