
<center><div style=" font-family: copperplate; color: white; margin-top: 10px;">
            <h1><%= @product.product_name %></h1>
            <center><%= image_tag(@product.image) %></center>

                <p>About the product: <%= @product.product_description %></p><br>
                <p>Price: $ <%= @product.sold_at %></p>
                <p>Quantity Available: <%= @product.instock %></p>
            </div>
            <%= link_to 'Back', products_path(@products), class: "btn btn-outline-light" %>
                <% if logged_in? && vendor_user_or_admin?  %>
                    <%= link_to 'Edit Product', edit_user_product_path(@current_user, @product), class: "btn btn-outline-light" %>
                    <%= link_to 'Delete Product', user_product_path(@current_user, @product), method: 'delete', class: "btn btn-outline-light" %>
                <% end %>
                </div></center>