
<h1><%= @product.product_name %></h1>
<div>
   <center><%= image_tag(@product.image) %></center>

    <p>About the product: <%= @product.product_description %></p><br>
    <p>Price: $ <%= @product.sold_at %></p>
    <p>Quantity Available: <%= @product.instock %></p>
</div>
<%= link_to 'Back', products_path(@products) %>
    <% if logged_in? && vendor_user_or_admin?  %>
        <%= link_to 'Edit Product', edit_product_path(@product) %>
        <%= link_to 'Delete Product', product_path(@product), method: 'delete' %>
    <% end %>